<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
    <script src="../JS/axios.min.js"></script>
    <script src="../JS/vue.js"></script>
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <script src="../JS/qs.js"></script>
    <title></title>
</head>
<body>
    <div style="margin-left:20px; width:20%;" id="app" >
        <form class="el-form">
            <p>
                <label>编号:</label>
                <label >{{userinfo.UserID}}</label>
          
            </p>
              <p>
                   <label>姓名:</label>
                    <input type="text" name="name" v-model="userinfo.UserName"/>
            </p>
              <p>
                    <label>手机号:</label>
                    <input type="text" name="phone" v-model="userinfo.UserPhone"/>
            </p>
            <p>
                <input type="submit" class="el-button" value="保存" v-on:click="Updatedata(userinfo.UserID)"/>
            </p>
        </form>
</div>
     <script>
         new Vue({
             el: "#app",
             data: {
                 userinfo:{},
                 geturl:"../ashx/Personal.ashx",
                 Updateurl:"../ashx/UpdateUser.ashx",
                 form: {
                     inerstor: ''
                 }
         },
             created: function () {
                 this.InitData();
                 
             },
         methods: {
             InitData: function () {
                 //ajax
                 axios.get(this.geturl).then(
                     //请求服务器成功的回调函数
                     result=>{this.userinfo = (result.data)[0]}
                     ).catch(
                    //请求服务器异常的回调函数
                     error=>{console.log(error)}
                     );
             },
             Updatedata: function (id) {
                 axios.get(
                     this.Updateurl,
                     {
                         params:{ids:id,name:this.userinfo.UserName,phone:this.userinfo.UserPhone}
                     }).then(
                                function(res){if(res.data=="ok"){
                                location.href="PerSonals.html";
                
             }}
                                ).catch(
                                    err=>{console.log(err)}
                                );
     
     }

             }
         });
    </script>
</body>
</html>
