<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>用户登录注册界面</title>

      <script src="LoginStyle/js/jigsaw.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.7.6/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("myApp", []);
        app.controller("Myctrl2", function ($scope, $http) {
            $scope.ccc = function () {
                $scope.data3 =
                    {
                        Names: $scope.name,
                        Likenames: $scope.likenames,
                        Phones: $scope.tels,
                        Pwds: $scope.passwod,
                        Pwd2s: $scope.passwod2
                    }
                $http({
                    method: 'post',
                    url: "ashx/Regiseter.ashx",
                    data: $scope.data3,
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    transformRequest: function (obj) {
                        var str = [];
                        for (var p in obj) {
                            str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                        }
                        return str.join("&");
                    }
                })
                .then(function (req) {
                    if ($scope.Pwds == $scope.Pwd2s) {
                        if (req.data == 1) {
                            alert("注册成功！")
                           
                        }
                        else {
                            alert("注册失败")
                        }
                    }

                }, function () {
                    alert("错");
                })
            }
        })
      
    
        app.controller("Myctrl", function ($scope, $http) {
           
            $scope.aaa = function () {
                $scope.data2 =
                    {
                        phone: $scope.phones,
                        password: $scope.pwds
                    }
                $http({
                    method: 'post',
                    url: "ashx/Login.ashx",
                    data: $scope.data2,
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    transformRequest: function (obj) {
                        var str = [];
                        for (var p in obj) {
                            str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                        }
                        return str.join("&");
                    }
                })
            .then(function (req) {
                if (req.data == 1) {
                    alert("登录成功！");
                    location.href = "index.html?" + "tel=" + $scope.phones;
              
                }
                else {
                    alert("登录失败，该账号被封禁")
                }
            }, function () {
                alert("错");
            });
                  
            }

        });

    </script>
    
<script>
   
</script>
<style>
#msg {
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}
</style>
    <link href="LoginStyle/css/jigsaw.css" rel="stylesheet" />
    <link href="LoginStyle/css/styles.css" rel="stylesheet" />
</head>
<body ng-app="myApp" >

<div class="jq22-container" style="padding-top:100px">
	<div class="login-wrap" >
		<div class="login-html" >
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">登录</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">注册</label>
			<div class="login-form">
				<form>
				<div class="sign-in-htm"  ng-controller="Myctrl">
					<div class="group">
						<label for="user" class="label">手机号</label>
						<input id="username" name="username" type="text" class="input" ng-model="phones">
					</div>
					<div class="group">
						<label for="pass" class="label">密码</label>
						<input id="password" type="password" class="input" data-type="password" ng-model="pwds">
					</div>
					<div class="group">
						<div class="container">
							<div id="captcha" style="position: relative" data-type="password" ></div>
							<div id="msg"></div>
						</div>
					</div>
					<div class="group">
						<input id="check" type="checkbox" class="check" >
						<label for="check"><span class="icon"></span> 保持登录</label>
					</div>						
					<div class="group">
						<input type="submit" class="button" value="登录" ng-click="aaa()">
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<a href="#forgot">忘记密码?</a>
					</div>
				</div>
				</form>
				<form>
				<div class="sign-up-htm"  ng-controller="Myctrl2">
					<div class="group">
						<label for="user" class="label">用户名</label>
						<input id="users" type="text" class="input" ng-model="name">
					</div>
					<div class="group">
						<label for="pass" class="label">昵称</label>
						<input id="likeName" type="text" class="input" ng-model="likenames">
					</div>
                    <div class="group">
						<label for="pass" class="label">手机号</label>
						<input id="TelPhone" type="text" class="input" ng-model="tels">
					</div>
					<div class="group">
						<label for="pass" class="label">密码</label>
						<input id="Password1" type="password" class="input" data-type="password" ng-model="passwod">
					</div>
					<div class="group">
						<label for="pass" class="label">重复密码</label>
						<input id="Password2" type="password" class="input" data-type="password" ng-model="passwod2">
					</div>
					<div class="group">
						<input type="submit" class="button" value="注册" ng-click="ccc()" >
					</div>
					<div class="hr"></div>
					<div class="foot-lnk">
						<label for="tab-1">已经成员?</label>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

  
</body>
</html>